{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="jumbotron text-center"></div>
<div class ="container">
 <h2>les dernier biens</h2>
<div class="row flex">
    {% for property in properties %}
    <div class="col-3">
    <div class="card">
    <div class ="card-body">
    <h5 class="card-tilte">
    <a href="{{path('property.show',{id:property.id, slug:property.slug})}}" style="font-weight:bold;font-size:2rem">{{property.title}}</a>
    </h5>
    <p class ="card-text" style="font-weight:bold;font-size:2rem">{{property.city}} ({{property.postalCode}})</p>
    <div class ="text-primary" style ="font-weight:bold ;font-size:2rem">{{property.formattedPrice}}F</div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>

{% endblock %}
